.signin {
    padding: 100px 0 150px 0;
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 15%;
    text-align: center;
    z-index: 8;
    width: 100%;
}

/*.signin h1 {*/
/*  color: black;*/
/*  font-size: 30px;*/
/*  font-weight: 700;*/
/*  text-align: center;*/
/*  padding: 30px;*/
/*}*/
.signin__card {
    width: 500px;
    margin: 0 auto;
    border-radius: 6px;
    background-color: #F6F5F0;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .3);
    color: #555;
}

.signin__card h2 {
    padding: 30px;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.signin__card h2 strong {
    font-weight: 700;
    color: #da2c45;
}

.signin__card {
    padding: 30px 22px;
}

.signin__card .login-input-box .check-input {
    width: 100%;
    display: flex;
}

.signin__card .nickname_input_box .check-input {
    width: 100%;
    display: flex;
}

.signin__card .login-input-box input {
    width: 100%;
    margin-bottom: 12px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
}

.nickname_input_box, .login-input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 10px 20px 10px 10px;
    padding: 10px 10px 0px 10px;
}

.signin__card .nickname_input_box input {
    width: 100%;
    margin-bottom: 12px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
}

.signin__card .login-input-box [type="button"] {
    background-color: #da2c45;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.signin__card .membership-button {
    background-color: #272727;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 0 auto;
}

.signin__card .login-input-box .id-check-button {
    background-color: #272727;
    border: none;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    padding: 11px;
    width: 25%;
    height: fit-content;
    margin-left: 10px;
    margin-top: 6px;
}

.signin__card .nickname_input_box .name-check-button {
    background-color: #272727;
    border: none;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    padding: 11px;
    width: 23%;
    height: fit-content;
    margin-left: 10px;
    margin-top: 6px;
}

.signin__card p {
    font-size: 12px;
    color: #006633;
    text-align: center;
    margin-bottom: 0;
}

.signin__card .close-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}
.signin .signin__card{
    position: relative;
}

.signin .signin__card .top-right {
    position: absolute;
    right: 0;
    top: 0;
}

/*Mobile*/
@media screen and (max-width: 640px) {
    .signin {
        max-width: 100%;
    }
    .signin__card {
        max-width: 100%;
    }
}

@media only screen and (device-width: 768px) {
    .signin {
        max-width: 100%;
    }
    .signin__card {
        max-width: 100%;
    }
}
@media only screen and (max-device-width: 1024px) {
    .signin {
        max-width: 100%;
    }
    .signin__card {
        max-width: 100%;
    }
}