<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Open Graph-->
    <!--http://ogp.me/-->
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Spabucks"/>
    <meta property="og:title" content="Sparta Spabucks Korea"/>
    <meta property="og:description" content="스파벅스는 스파르타코딩에서 가장 인기 있는 커피 전문검으로, 여러가지 커피 종류를 주문하고 받을수 있도록 운영하고 있습니다."/>
    <meta property="og:image" content="../static/mainPage/og_image.jpeg"/>
    <meta property="og:url" content=""/>

    <!--Twitter Card-->
    <!--https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started-->
    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:site" content="Spabucks"/>
    <meta property="twitter:title" content="Sparta Spabucks Korea"/>
    <meta property="twitter:description"
          content="스파벅스는 스파르타코딩에서 가장 인기 있는 커피 전문검으로, 여러가지 커피 종류를 주문하고 받을수 있도록 운영하고 있습니다."/>
    <meta property="twitter:image" content="../static/mainPage/og_image.jpeg"/>
    <meta property="twitter:url" content=""/>

    <link rel="icon" href="/static/images/main_pages/favicon.png"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet"/>
    <!--Google Material Icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/main.css"/>
    <link rel="stylesheet" href="../static/payService.css"/>

    <!--GSAP & ScrollToPlugin-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
            integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollToPlugin.min.js"
            integrity="sha512-nTHzMQK7lwWt8nL4KF6DhwLHluv6dVq/hNnj2PBN0xMl2KaMm1PM02csx57mmToPAodHmPsipoERRNn4pG7f+Q=="
            crossorigin="anonymous"></script>

    <title>스파벅스</title>

    <script defer src="../static/js/main.js"></script>
    <script>
        function page_move() {
            let data = {{ data|safe }};
            let all_cost = $('#all-cost').text();
            console.log(all_cost);
            $.ajax({
                type: 'POST',
                url: '/pay',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({data, all_cost: all_cost}),
                success: function (response) {
                    alert(response['msg'])
                    window.location.href = "/order_list"
                }
            })
        }
    </script>

</head>
<body>
<header>
    <div class="inner">
        <a href="/" class="logo">
            <img class="logo_img" src="../static/images/main_pages/logo_1.png" alt="SPABUCKS"/>
        </a>
        <ul class="main-menu">
            <li class="item">
                <div class="item__name" id="order">주문하기</div>
            </li>
            <li class="item">
                <div class="item__name" id="log_in">로그인</div>
            </li>
            <li class="item">
                <div class="item__name" id="membership">회원가입</div>
            </li>
        </ul>
    </div>
</header>

<!--VISUAL-->
<section class="visual" style="test-align:center;">
    <div id="payService">
        <h2> 결제하기 </h2>
        <hr>

        <ul class="list-group" id="pay-list-ul">
            <li class="list-group-item list-group-item-dark pay-list-head">
                <div>{{ orders.place.storeName }} 지점</div>
            </li>
            {% for order in orders.order %}
                <li class="list-group-item pay-list">
                    <div class="menu-img" style="background-image:url('{{ order.image }}');"></div>
                    <div class="pay-order-list">
                        <span>{{ order.productName }}   /   {{ order.temp }}   /   {{ order.size }} </span>
                        <span> 수량 : {{ order.count }}    금액 : {{ order.cost }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <hr>
        <div id="all-pay-cost">
            <span> 총 결제 금액  </span> <span id="all-cost">{{ all_cost }}</span><span> 원</span>
        </div>
        <div id="payment">
            <button type="button" class="btn complete_button" onclick="page_move()">결제하기</button>
        </div>
    </div>
</section>

<!--FOOTER-->
<footer>
    <div class="inner">

        <div class="btn-group">
            <a href="https://map.kakao.com/?map_type=TYPE_MAP&target=car&rt=,,509825,1111908&rt1=&rt2=%ED%8C%80%EC%8A%A4%ED%8C%8C%EB%A5%B4%ED%83%80&rtIds=,1429099039"
               target="_blank" class="btn btn--white">찾아오시는 길</a>
            <a href="/order" class="btn btn--white">주문하기</a>
            <a href="/order_list" class="btn btn--white">주문내역</a>
        </div>

        <div class="info">
            <span>사업자번호 123-12-12345</span>
            <span>(주)스파벅스 코리아 대표이사 A반 1조</span>
            <span>TEL : 02) 1234-1234 / FAX : 02) 4321-4321</span>
        </div>

        <p class="copyright">
            &copy; <span class="this-year"></span> Spabucks Coffee Company. All
            Rights Reserved.
        </p>
    </div>
</footer>
<div id="to-top">
    <div class="material-icons">arrow_upward</div>
</div>
</body>
</html>
